@require '_c3.css';
@require '_banner.css';
@require '_winsovertime.css';
@require '_roundpattern.css';
@require '_movessidebar.css';


.chart-title-text
    font-family         ProximaNova
    font-weight         700
    font-size           30px
    text-align          center
    padding-top			15px
    padding-bottom		10px
    
.sparkTwitter__stats
    background          transparent
    
.stats
    color               #fafafa
    font-size           large
    text-align          left
    padding-top         0px
    
.credits
    position			absolute
    color				#fafafa
    right				5px
    top					20px
    font-size			large

